# Node
node_modules/
dist/

# Java
target/
*.class
*.jar
*.war

# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# 临时文件
*.log
uploads/
temp/

# Docker
docker-data/
期末任务.docx
.env
"ai-service/chroma_db/" 
"ai-service/vector_data/" 
"ai-service/model_data/" 
"ai-service/tests/_test.jpg" 
"ai-service/tests/_strange.jpg" 
"ai-service/tests/test_images/" 
